#footer{
    position: fixed;
    height: 10%;
    width: 100%;
    bottom: 10%;
}
#container{
    height: 300px;
    width: 100%;
    overflow: scroll;
}
#button {
    height: 100%;
    width: 20%;
}
#text{
    height: 100%;
    width: 70%;
}